<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}" style="background-color: #eaf9f2;">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading ">About the author</h2>
          <div class="team-member-single" >
            <img class="mx-auto rounded-circle" src="/img/gineesh-250x250.png" alt="Gineesh Madapparambath" style="border-radius: 50%; padding: 50px 0px 50px 0px;">
          </div>

          <div class="team-member-single text-muted" > <a href="https://www.linkedin.com/in/gineesh/" target="_new"><h2 class="section-subheading text-muted">Gineesh Madapparambath</h2></a>
            </div>

          <div class="team-member-single text-muted" style="text-align: left;"> 
            <p>
            <a href="https://www.linkedin.com/in/gineesh/" target="_new" style="color: #000;"><strong>Gineesh</strong></a> has over 15+ years of experience in IT Service Management and consultancy with experience in planning, deploying and supporting Linux based projects.
            </p>
          <p>
          He has designed, developed and deployed Automation solutions based on Ansible and Ansible Automation Platform (Formerly Ansible Tower), for bare metal/Virtual server build, patching, license management, Network Operations and custom monitoring. Gineesh has coordinated, designed and deployed servers in data centers globally and has cross-cultural experience in classic, private cloud (OpenStack, VMWare)virtual and public cloud environments (AWS, Azure, Google Cloud). Gineesh has handled multiple roles such as Systems Engineer, Automation Specialist, Infrastructure Designer and content author. 
        </p>
        <p>
        His primary focus is on IT and application automation using Ansible, containerization using OpenShift and Kubernetes and Infrastructure automation using Terraform.
      </p>
            </div>


      </div>
    </div>
   
  </div>
</section>



<!-- End About -->

